.invoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
  }
  
  .total p {
    font-weight: bold;
  }
  
  table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  .print{
    margin: 10px;
    padding: 2px 1px 1px 1px;
  }
  .print-button{
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    outline-style: none;
    background-color: #f2f2f2;
    color: black;
    width: 130px;
    font-weight: 500;
    border-color: #f2f2f2;
  }