.invoice {
  width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .invoice h1{
    padding-left: 39rem;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .total p {
    font-weight: bold;
  }
  
  table {
    width: 130%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 55rem;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  .print{
    margin-left: 98rem;
    margin-top: 1rem;
    padding: 2px 1px 1px 1px;
  }
  .print-button{
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
    outline-style: none;
    background-color: #f2f2f2;
    color: black;
    height: 30px;
    width: 130px;
    font-weight: bold;
    border-color: #f2f2f2;
  }