* {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
}
section {
  width: 70%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3%;
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.cards { 
  width: 200px;
  justify-content: center;
  border: 2px solid rgb(13, 16, 13);
  background-color: rgba(254, 248, 248, 0.622);
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0.7rem;
}
.cards:hover {
  box-shadow: rbg(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img {
  width: 190px;
  height: 180px;
}

.image_box img {
  width: 150px;
  height: 200px;
}
.cards p:nth-child(1) {
  padding-left: 13rem;
  font-weight: bold;
  font-size: 1rem;
}
.cards p:nth-child(2) {
  padding-bottom: 0.4rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.cards p:nth-child(3) {
  font-weight: bold;
  color: grey;
  padding: 1px;
}
.cards button {
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  background-color: #d7d3d3f3;
  text-align: center;
  align-items: center;
  color: rgb(45, 44, 44);
  width: 110px;
  font-weight: 600;
  border-color: #d7d3d3f3;
  box-shadow: none;
  padding: 0.2rem;
  margin-top: 0.3rem;
}
